.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    box-shadow: 0px 8px 8px 0px #00000040;

}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.lista-menu__link {
    background: var(--azul-gradiente);
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}